*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
select{
    margin: 0 3px;
}
.header {
    padding: 10px 30px;
    gap: 50px;
}

.menu {
    gap: 30px;
}
/*banner*/
.banner{
    background: url(../access/logo/Background.png);
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.banner p{
    position: relative;
    width: fit-content;
    color: azure;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    letter-spacing: 3px;
    z-index: 1;
    text-align: center;
}
/*end banner*/
.category{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,200px);
    padding: 30px 0;
    gap: 30px;
}
.category-item{
    background: rgb(28, 28, 28);
    border-radius: 15px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}
.category-item a{
    text-decoration: none;
    color: white;
}
.category-item img:hover{
    transform: scale(0.8);
    transition: 0.3s ease-in;
}
.flash-sale,.gamming-gear,.keyboard,.mouse{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,200px);
    padding: 30px 10px;
    gap: 60px;
}
.flash-sale_item,.gamming-gear_item,.keyboard_item,.mouse_item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.username-display p{
    margin: 0;
}
.flash-sale_item img{
    width: 90%;
}
.flash-sale_item span{
    position: relative;
    right: -100px;
    background: red;
    width: fit-content;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.brand{
    display: grid;
    grid-template-columns: repeat(5,187px);
    align-items: center;
    justify-content: center
    ;
}
.brand img{
    width: 100%;
}
/* cart */
.cartTab{
    width: 600px;
    background-color: white;
    position: fixed;
    top: 0;
    right: -600px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 2;
}
body.showCart .cartTab{
    right: 0;
    color: #171717;
    /* filter: drop-shadow(0 500px 400px black); */
    box-shadow: 5px 100px 1000px 1800px rgba(0,0,0,0.75);
}
body.showCart .container{
    pointer-events: none;
}
body.showCart .header{
    pointer-events: none;
}
.cartTab-title{
    height: 85px;
    margin: 0;
    font-size: 20px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #171717;;
    font-weight: bold;
    z-index: 1;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
  
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 0%;
    color: black;
    background-color: white;
    border-top: 1px solid #605f60;
    
}
.cartTab .close{
   
}
.listCart .item img{
    width: 100%;
    border-radius: 20px;
}
.listCart .item{
    display: grid;
    grid-template-columns: 150px 150px 100px 100fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 0 30px;
   
    
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}
.listCart .quantity span:active{
    background-color: black;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color:  black;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.close:hover {
    background-color: #3333f5;
    color: white;
   
}
.checkOut:hover{
    background-color: #3333f5;
    color: white;
   
}
/*List-product*/
.list-product{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows:repeat(auto,400px);
    gap: 10px;
}
.list-product .item{
    padding: 20px;
    border-radius: 20px;
    background: white;
    border: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}
.list-product .item:hover > img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.list-product .item img{
    width: 180px;
    height: 200px;
}
.list-product .item h2{
    font-weight: 500;
    font-size: large;
    height: 80px;
    display: flex;
    align-items: center;
   
}
.list-product .item .price{
    letter-spacing: 3px;
    font-size: medium;
}
.list-product .item button{
    
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.detail{
    background-color: #031234;
    color: white;
    width: 100%;
    height: 40px;
}
.addCart{
    background: #3333f5;
    color: white;
    display: block;
    width: 100%;
    height: 40px;
}
.addCart:hover,.detail:hover{
    opacity: 0.8;
}
/*end List-product*/
/*news*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(4,auto);
    row-gap: 30px;
}
/*end news*/
/* footer*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background: #171717;
    color: white;
   
  }
  .footer .logo_end{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
     
  }.footer .subscribe .search{
      position: relative;
  }
  .footer .subscribe i{
      position: absolute;
      left: 12px;
      top: 10px;
  }
  .footer .subscribe_title,.footer .subscribe{
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
  }
  .footer input[type="text"]{
    position: relative;
      width: 250px;
      right: -5px;
      height: 38px;
      border-radius: 5px;
      padding-left: 35px;
      outline: none;
      border: #171717;
      background-color: #f3f4f6;
  }
  .footer input[type="submit"]{
    background: blue;
    color: azure;
      outline: none;
      border: #171717;
      display: block;
      height: 29px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0 10px;
      width: 120px;
      height: 38px;
      cursor: pointer;
  }
  .footer .footer-list{
      display: flex;
      justify-content: center;
      gap: 80px;
  }
  .footer .footer-list_link p{
      margin-bottom: 15px;
  }
  .footer .footer-list .footer-list_link li{
      list-style: none;
      margin-bottom: 10px;
      margin-left: -30px;
  }
  .footer select{
      height: 30px;
      width: 120px;
      background-color: #f3f4f6;
      border: #f3f4f6;
  }
  .footer .footer-end{
      display: flex;
      align-items: center;
      justify-content: space-between ;
      padding: 20px  60px;
  }
  .footer .end_center{
      display: flex;
      align-items: center;
  }
  .footer .icon_link{
      font-size: 25px;
  }
  i,img{
  cursor: pointer;
  }


